[user]
    name = Nathaniel J Cochran
    email = nathanjcochran@gmail.com
[url "ssh://git@niche.github.com/cochran-at-niche"]
    insteadOf = https://github.com/cochran-at-niche
[url "ssh://git@niche.github.com/cochran-at-niche"]
    insteadOf = ssh://git@github.com/cochran-at-niche
[url "ssh://git@niche.github.com/cochran-at-niche"]
    insteadOf = git@github.com:cochran-at-niche
[url "ssh://git@niche.github.com/nicheinc"]
    insteadOf = https://github.com/nicheinc
[url "ssh://git@niche.github.com/nicheinc"]
    insteadOf = ssh://git@github.com/nicheinc
[url "ssh://git@niche.github.com/nicheinc"]
    insteadOf = git@github.com:nicheinc
[url "ssh://git@github.com"]
    insteadOf = https://github.com
[url "ssh://git@gitlab.com"]
    insteadOf = https://gitlab.com
[alias]
    b = branch
    cm = commit -m
    co = checkout
    d = diff
    dc = diff --cached
    lg = log --all --decorate --oneline --graph
    rao = remote add origin
    rpo = remote prune origin
    rso = remote show origin
    rs = restore --staged
    st = status
    su = submodule update
    sur = submodule update --remote
[credential]
    helper = cache
